.main-product {
	height: 90px;
	margin: 15px;
	width: auto !important;
}

.view-product img {
	height: 190px;
	padding: 15px;
	width: auto !important;
}

.products-checkbox {
	margin-right: 0.2em !important;
}

.header-middle {
	background: #F0F0E9;
}

.shop-menu ul li a {
	background: #F0F0E9;
	margin-top: 20px;
}

.contact-title {
	margin: 0 !important;
}

.companyinfo h3 {
  color: #666663;
  font-family: abel;
  font-size: 27px;
  text-transform: uppercase;
}

.companyinfo h3 span {
  color:#FE980F;
}

.header-middle .container .row {
	padding: 0;
}

#gmap {
	margin-top: 30px;
}

.input-group-addon {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	color: #000;
	text-align: center;
	background-color: #F0F0E9;;
	border: 1px solid #ccc;
	border-radius: 0px;
}

.priceform input {
	border-radius: 0px;
}

.price-button {
  background: #FE980F;
  border: 0 none;
  border-radius: 0;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
	margin-top: 10px;
	width: 100%;
}

.price-button:focus, .price-button:active {
  background: #FE980F;
  color: #FFFFFF;
}

.price-button:hover {
	background: #fea328;
  color: #FFFFFF;
}