<div class="row">
	<div class="col-sm-12">
		<section>
			<div class="container">
				<div class="row">

					<div class="col-sm-3" id="categories">
						<div class="left-sidebar">
							
							<h2>Categorías</h2>
							<div class="panel-group category-products"><!--category-productsr-->
								<div ng-repeat="category in categories" class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title"><a ng-href="#/products?category={{category.id}}">{{category.title}}</a></h4>
									</div>
								</div>
							</div><!--/category-products-->
							
							<h2>Marcas</h2>
							<div class="panel-group category-products"><!--brand-productsr-->
								<div ng-repeat="brand in brands" class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title"><a ng-href="#/products?brand={{brand.id}}">{{brand.title}}</a></h4>
									</div>
								</div>
							</div><!--/brand-products-->

						</div>
					</div>
					
					<div class="col-sm-9 padding-right">
						<div class="row">
							<div class="col-sm-12 product-details"><!--product-details-->
								<div class="col-sm-5">
									<img class="img-responsive" ng-src="{{item.images[0].url.https}}" alt="{{item.title}}" />
								</div>

								<div class="col-sm-7">
									<div class="product-information"><!--/product-information-->
										<h2>{{item.title}}</h2>
										<p>SKU: {{item.sku}}</p>
										<!-- <img src="images/product-details/rating.png" alt="" /> -->
										<span>
											<span>{{item.price.value}}</span>
											<!-- <label>Cantidad:</label>
                      <input type="text" value="3" /> -->
                      <br />
                      <br />
                      <br />
                      <p><b>Disponibilidad:</b> En tienda</p>
                      <p><b>Marca:</b> {{item.brand.value}}</p>
                      <p><b>Descripción:</b> {{item.description}}</p>
											<button type="button" class="btn price-button">
												<i class="fa fa-shopping-cart"></i>
												Añadir al carrito
											</button>
										</span>
									</div><!--/product-information-->
								</div>
							</div><!--/product-details-->
						</div>
					</div>

					<div class="col-sm-9 padding-right">
						<div class="features_items"><!--features_items-->
							<h2 class="title text-center">Más en {{item.category.value}}</h2>

							<div class="col-sm-4" ng-repeat="product in relatedItems">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<img class="main-product" ng-src="{{product.images[0].url.https}}" alt="{{product.title}}" />
											<h2>{{product.price.value}}</h2>
											<p>{{product.title}}</p>
											<a ng-href="#/product/{{product.id}}" class="btn btn-default add-to-cart view-more"><i class="fa fa-eye"></i>Ver más</a>
                      <br />
                      <a class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
										</div>
										<div class="product-overlay">
											<div class="overlay-content">
												<h2>{{product.price.value}}</h2>
												<p>{{product.title}}</p>
												<a ng-href="#/product/{{product.id}}" class="btn btn-default add-to-cart view-more"><i class="fa fa-eye"></i>Ver más</a>
                        <br />
                        <a class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						
						</div><!--features_items-->		
					</div>

				</div>
			</div>
		</section>

	</div>
</div>
