<div class="row">
	<div class="col-sm-12">

		<section>
			<div class="row">

					<div class="col-sm-3" id="categories">
						<div class="left-sidebar">
						
						<h2>Categorías</h2>
						<div class="panel-group category-products"><!--category-productsr-->
							<div ng-repeat="category in categories" class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<input ng-model="selectedCategories[category.id]" 
													 id="{{category.id}}" 
													 class="products-checkbox" 
													 type="checkbox"
													 ng-change="filterItems()">
										<a>{{category.title}}</a>
									</h4>
								</div>
							</div>
						</div><!--/category-products-->
						
						<h2>Marcas</h2>
						<div class="panel-group category-products"><!--brand-productsr-->
							<div ng-repeat="brand in brands" class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<input ng-model="selectedBrands[brand.id]"
													 id="{{brand.id}}"
													 class="products-checkbox" 
													 type="checkbox"
													 ng-change="filterItems()">
										<a>{{brand.title}}</a>
									</h4>
								</div>
							</div>
						</div><!--/brand-products-->

						<div class="price-range"><!--price-range-->
							<h2>Precio</h2>
							<div class="well text-center">
								<div class="input-group priceform">
									<span class="input-group-addon">$</span>
									<input step="1000" min="0" type="number" ng-model="lowPrice" class="form-control">
								</div>
								<p style="margin: 5px 0 5px 0;">a</p>
								<div class="input-group priceform">
									<span class="input-group-addon">$</span>
									<input step="1000" min="0" type="number" ng-model="highPrice" class="form-control">
								</div>
								<button class="btn price-button" ng-click="filterItems()" type="button">Filtrar</button>
							</div>
						</div><!--/price-range-->
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Productos</h2>

						<div class="col-sm-4" ng-repeat="item in items">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img class="main-product" ng-src="{{item.images[0].url.https}}" alt="{{item.title}}" />
										<h2>{{item.price.value}}</h2>
										<p>{{item.title}}</p>
										<a ng-href="#/product/{{item.id}}" class="btn btn-default add-to-cart view-more"><i class="fa fa-eye"></i>Ver más</a>
                    <br />
                    <a class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<h2>{{item.price.value}}</h2>
											<p>{{item.title}}</p>
											<a ng-href="#/product/{{item.id}}" class="btn btn-default add-to-cart view-more"><i class="fa fa-eye"></i>Ver más</a>
                      <br />
                      <a class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carrito</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div><!--features_items-->		
				</div>
			</div>
		</section>

	</div>
</div>

<script type="text/javascript">
	$('#products-range').slider();
</script>
