<div class="row">
	<div class="col-sm-12">
		<section>
			<div class="container">
				<div class="row">

					<div class="col-sm-3" id="categories">
						<div class="left-sidebar">
							
							<h2>Categorías</h2>
							<div class="panel-group category-products"><!--category-productsr-->
								<div ng-repeat="category in categories" class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title"><a ng-href="#/products?category={{category.id}}">{{category.title}}</a></h4>
									</div>
								</div>
							</div><!--/category-products-->
							
							<h2>Marcas</h2>
							<div class="panel-group category-products"><!--brand-productsr-->
								<div ng-repeat="brand in brands" class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title"><a ng-href="#/products?brand={{brand.id}}">{{brand.title}}</a></h4>
									</div>
								</div>
							</div><!--/brand-products-->

						</div>
					</div>
					
					<div class="col-sm-9 padding-right">
						<div class="product-details"><!--product-details-->
							<div class="col-sm-5">
								<div class="view-product">
									<img ng-src="{{item.images[0].url.https}}" alt="{{item.title}}" />
									<!-- <h3>ZOOM</h3> -->
								</div>
							</div>

							<div class="col-sm-7">
								<div class="product-information"><!--/product-information-->
									<h2>{{item.title}}</h2>
									<p>SKU: {{item.sku}}</p>
									<!-- <img src="images/product-details/rating.png" alt="" /> -->
									<span>
										<span>{{item.price.data.formatted.without_tax}}</span>
										<!-- <label>Cantidad:</label>
										<input type="text" value="3" />
										<button type="button" class="btn btn-fefault cart">
											<i class="fa fa-shopping-cart"></i>
											Añadir al carrito
										</button> -->
									</span>
									<p><b>Disponibilidad:</b> En tienda</p>
									<p><b>Marca:</b> {{item.brand.value}}</p>
									<p><b>Descripción:</b> {{item.description}}</p>
								</div><!--/product-information-->
							</div>
						</div><!--/product-details-->
					</div>

					<div class="col-sm-9 padding-right">
						<div class="recommended_items"><!--recommended_items-->
							<h2 class="title text-center">Más {{item.category.value}}</h2>
							
							<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
								<div class="carousel-inner">
									<div class="item active" ng-repeat="relatedItem in relatedItems">

										<div class="col-sm-4">
											<div class="product-image-wrapper">
												<div class="single-products">
													<div class="productinfo text-center">
														<img ng-src="{{relatedItem.images[0].url.https}}" alt="{{relatedItem.title}}" class="main-product"/>
														<h2>{{item.price.data.formatted.without_tax}}</h2>
														<p>{{relatedItem.title}}</p>
														<a href="#/product/{{relatedItem.id}}" class="btn btn-default add-to-cart"><i class="fa fa-eye"></i>Ver más</a>
													</div>
												</div>
											</div>
										</div>

									</div>
								</div>		
							</div>
						</div><!--/recommended_items-->
					</div>
				</div>
			</div>
		</section>

	</div>
</div>